@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Mulish:wght@300&family=Playfair+Display:wght@700&display=swap");
.l-head {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav-bar {
  width: 60%;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  position: relative;
  width: 12.5%;
  overflow: hidden;
}
.nav-bar ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 35px 0;
  width: 100%;
}
.nav-bar ul li a:hover {
  border-bottom: 3px solid yellow;
}
.nav-bar--foot {
  border-bottom: 2px solid white;
}
.nav-bar--foot ul {
  display: flex;
}
.nav-bar--foot ul li {
  width: 14.2857142857%;
}
.nav-bar--foot ul li a:hover {
  border-bottom: 0;
}

.logo {
  padding: 30px;
}
.logo h1 {
  font-size: 24px;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  color: #fff;
}

.visual {
  background-color: black;
  background-image: url("../../../img/walking.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
.visual::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), black);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}
.visual::after {
  content: "";
  background-image: url("../../../img/running.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  z-index: -1;
}
.visual .visual__explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 80%;
  z-index: 4;
}
.visual .visual__explore .c-title--topic span {
  width: 20px;
  height: 2px;
  display: flex;
  background-color: white;
}
.visual .visual__about {
  height: 50%;
  width: 80%;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.visual .visual__about .board {
  width: 80%;
  background-color: #707070;
  display: flex;
  padding: 30px;
}
.visual .visual__about .board .board__count {
  text-align: center;
  width: 33.3333333333%;
}
.visual .visual__about .board .board__count p {
  font-family: "Mulish", sans-serif;
  border-right: 1px solid black;
}
.visual .visual__about .board .board__count p span {
  font-size: 20px;
}
.visual .visual__about .board .board__count:last-child p {
  border-right: 0;
}

.c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: #fff;
  margin-bottom: 20px;
}
.c-title p {
  font-family: "Mulish", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.c-title--topic {
  width: 60%;
  margin-right: auto;
}
.c-title--topic .design {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.c-title--topic .design span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 0 10px;
}
.c-title--topic .design p {
  margin-bottom: 0;
}
.c-title--about {
  width: 60%;
  margin-right: auto;
}

.foot-warp {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.foot-warp .icon-line {
  display: flex;
}
.foot-warp .icon-line li {
  padding: 10px 20px;
}
.foot-warp .foot-text {
  width: 30%;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #fff;
}
.foot-warp .address {
  margin: 20px 0 30px;
}
.foot-warp .address address {
  color: #fff;
}

body {
  background-color: #000;
}

.city-warp {
  margin-bottom: 200px;
}
.city-warp .c-title--topic {
  margin: 0 auto;
  color: #fff;
}
.city-warp .city-bloc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.city-warp .city-bloc .c-card-img {
  width: 340px;
}
.city-warp .city-bloc .c-card-img .city-img {
  position: relative;
}
.city-warp .city-bloc .c-card-img .city-img::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}
.city-warp .city-bloc .c-card-img .city-img img {
  z-index: 0;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city {
  width: 280px;
  position: absolute;
  bottom: -100px;
  left: 35px;
  z-index: 2;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city h2 {
  color: #F49F0A;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city p {
  margin-bottom: 40px;
  color: #fff;
}
.city-warp .city-bloc .c-card--lowmargin {
  margin-top: 40px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-btn {
  width: 166px;
  border: 1px solid #fff;
  padding: 15px;
  display: flex;
}
.c-btn a {
  text-decoration: none;
  color: #fff;
}
.c-btn .icon {
  color: #fff;
  margin-left: 60px;
}

.gallery-warp {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.gallery-warp .c-title--topic {
  color: #fff;
  margin-bottom: 40px;
}
.gallery-warp .gallery-bloc {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
}
.gallery-warp .gallery-bloc .gallery-card {
  width: 19.6%;
  height: 400px;
  display: flex;
  align-items: center;
}
.gallery-warp .gallery-bloc .gallery-card:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.contact {
  color: #fff;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto 100px;
}
.contact .c-title--topic {
  color: #fff;
  margin-top: 65px;
}
.contact .c-title--topic h2 {
  width: 272px;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 800;
}
.contact .c-title--topic p {
  width: 335px;
  font-size: 18px;
  font-weight: 700;
}
.contact .circle {
  width: 670px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contact .circle__phone {
  border: 1px solid #fff;
  line-height: 1.5;
  padding: 49px 67px 49px 47px;
  border-radius: 100%;
  width: 164px;
}
.contact .circle__phone .title {
  font-size: 34px;
  font-weight: 800;
}
.contact .circle__phone .phone {
  font-size: 24px;
  font-weight: 300;
}
.contact .circle__phone .text {
  font-size: 16px;
  font-weight: 400;
}
.contact .circle__mail {
  border: 1px solid #fff;
  line-height: 1.5;
  padding: 69px 49px;
  border-radius: 100%;
}
.contact .circle__mail p {
  width: 180px;
  font-size: 34px;
  font-weight: 800;
}

.blog-warp {
  width: 100%;
  margin-bottom: 150px;
}
.blog-warp .c-title--topic {
  color: #fff;
}
.blog-warp .blog-bloc {
  width: 100%;
  display: flex;
  position: relative;
  z-index: -1;
}
.blog-warp .blog-bloc::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}
.blog-warp .blog-bloc .blog-card1 {
  width: 100%;
  height: 360px;
  background-image: url(../../../img/blog1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card2 {
  width: 100%;
  height: 360px;
  background-image: url(../../../img/blog2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card3 {
  width: 100%;
  height: 360px;
  background-image: url(../../../img/blog3.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card4 {
  width: 100%;
  height: 360px;
  background-image: url(../../../img/blog4.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc p {
  color: #fff;
  width: 280px;
  bottom: 0;
  position: absolute;
  left: 20px;
  font-size: 18;
  z-index: 2;
}

.journals-warp {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.journals-warp .c-title--topic {
  margin-bottom: 10px;
  text-align: center;
}
.journals-warp .c-title--topic h2,
.journals-warp .c-title--topic p {
  color: #fff;
  font-size: 15px;
}
.journals-warp .journals-bloc {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.journals-warp .journals-bloc .journals-card {
  margin-bottom: 30px;
}
.journals-warp .journals-bloc .journals-card img {
  width: 100%;
}
.journals-warp .journals-bloc .journals-card .card-inner {
  background-color: #1F242E;
  padding: 30px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text {
  display: flex;
  padding: 15px 0;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text p {
  color: #fff;
  padding-left: 10px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text img {
  width: 20px;
}
.journals-warp .journals-bloc .journals-card .card-inner .txt {
  margin-bottom: 15px;
  color: #fff;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date {
  display: flex;
  justify-content: space-between;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date p {
  color: rgb(200, 200, 200);
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date a {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=style.css.map */