@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Mulish:wght@300&family=Playfair+Display:wght@700&display=swap");
.l-head {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav-bar {
  width: 60%;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  position: relative;
  width: 12.5%;
  overflow: hidden;
}
.nav-bar ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 35px 0;
  width: 100%;
}
.nav-bar ul li a:hover {
  border-bottom: 3px solid yellow;
}
.nav-bar--foot {
  border-bottom: 2px solid white;
}
.nav-bar--foot ul {
  display: flex;
}
.nav-bar--foot ul li {
  width: 14.2857142857%;
}
.nav-bar--foot ul li a:hover {
  border-bottom: 0;
}

.logo {
  padding: 30px;
}
.logo h1 {
  font-size: 24px;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  color: #fff;
}

.visual {
  background-color: black;
  background-image: url("../../../img/walking.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
.visual::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), black);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}
.visual::after {
  content: "";
  background-image: url("../../../img/running.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  z-index: -1;
}
.visual .visual__explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 80%;
  z-index: 4;
}
.visual .visual__explore .c-title--topic span {
  width: 20px;
  height: 2px;
  display: flex;
  background-color: white;
}
.visual .visual__about {
  height: 50%;
  width: 80%;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.visual .visual__about .board {
  width: 80%;
  background-color: #707070;
  display: flex;
  padding: 30px;
}
.visual .visual__about .board .board__count {
  text-align: center;
  width: 33.3333333333%;
}
.visual .visual__about .board .board__count p {
  font-family: "Mulish", sans-serif;
  border-right: 1px solid black;
}
.visual .visual__about .board .board__count p span {
  font-size: 20px;
}
.visual .visual__about .board .board__count:last-child p {
  border-right: 0;
}

.c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: #fff;
  margin-bottom: 20px;
}
.c-title p {
  font-family: "Mulish", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.c-title--topic {
  width: 60%;
  margin-right: auto;
}
.c-title--topic .design {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.c-title--topic .design span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 0 10px;
}
.c-title--topic .design p {
  margin-bottom: 0;
}
.c-title--about {
  width: 60%;
  margin-right: auto;
}

.foot-warp {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.foot-warp .icon-line {
  display: flex;
}
.foot-warp .icon-line li {
  padding: 10px 20px;
}
.foot-warp .foot-text {
  width: 30%;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #fff;
}
.foot-warp .address {
  margin: 20px 0 30px;
}
.foot-warp .address address {
  color: #fff;
}/*# sourceMappingURL=style.css.map */