@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Mulish:wght@300&family=Playfair+Display:wght@700&display=swap");
body {
  background-color: #000;
}

.l-head {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.l-head .logo-head h1 {
  -webkit-animation: glow 1s infinite alternate;
          animation: glow 1s infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #74c2fb, 0 0 40px #74c2fb, 0 0 50px #74c2fb, 0 0 60px #74c2fb, 0 0 70px #74c2fb;
  }
  to {
    filter: brightness(2);
    text-shadow: 0 0 20px #fff, 0 0 30px #00a6ff, 0 0 40px #00a6ff, 0 0 50px #00a6ff, 0 0 60px #00a6ff, 0 0 70px #00a6ff, 0 0 80px #00a6ff;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #74c2fb, 0 0 40px #74c2fb, 0 0 50px #74c2fb, 0 0 60px #74c2fb, 0 0 70px #74c2fb;
  }
  to {
    filter: brightness(2);
    text-shadow: 0 0 20px #fff, 0 0 30px #00a6ff, 0 0 40px #00a6ff, 0 0 50px #00a6ff, 0 0 60px #00a6ff, 0 0 70px #00a6ff, 0 0 80px #00a6ff;
  }
}
.nav-bar {
  width: 60%;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  position: relative;
  width: 12.5%;
  overflow: hidden;
}
.nav-bar ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 35px 0;
  width: 100%;
}
.nav-bar ul li a:hover {
  border-bottom: 3px solid yellow;
}
.nav-bar--foot {
  border-bottom: 2px solid white;
}
.nav-bar--foot ul {
  display: flex;
}
.nav-bar--foot ul li {
  width: 14.2857142857%;
}
.nav-bar--foot ul li a:hover {
  border-bottom: 0;
}

.logo {
  padding: 30px;
}
.logo h1 {
  font-size: 24px;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.visual {
  background-color: black;
  background-image: url("../../../img/walking.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -3;
  margin-bottom: 50px;
}
.visual::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), black);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}
.visual::after {
  content: "";
  background-image: url("../../../img/running.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  z-index: -1;
}
.visual .visual__explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 80%;
  z-index: 4;
}
.visual .visual__explore .c-title--topic span {
  width: 20px;
  height: 2px;
  display: flex;
  background-color: white;
}
.visual .visual__about {
  height: 50%;
  width: 80%;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.visual .visual__about .c-title--about {
  width: 40%;
}
.visual .visual__about .board {
  width: 70%;
  background-color: #1F242E;
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
}
.visual .visual__about .board .board__count {
  color: #fff;
  text-align: center;
  width: 33.3333333333%;
}
.visual .visual__about .board .board__count .counts {
  font-size: 42px;
  padding-bottom: 10px;
  font-family: "Playfair Display", serif;
  border-right: 2px solid black;
}
.visual .visual__about .board .board__count .counts span {
  font-size: 44px;
}
.visual .visual__about .board .board__count:last-child p {
  border-right: 0;
}

.c-title {
  text-align: center;
}
.c-title h1, .c-title h2, .c-title h3, .c-title h4, .c-title h5, .c-title h6 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: #fff;
  margin-bottom: 20px;
}
.c-title p {
  font-family: "Mulish", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.c-title--topic {
  text-align: start;
  width: 60%;
  margin-right: auto;
}
.c-title--topic .design {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.c-title--topic .design span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 0 10px;
}
.c-title--topic .design p {
  margin-bottom: 0;
}
.c-title--about {
  text-align: start;
  width: 60%;
  margin-right: auto;
}

.foot-warp {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.foot-warp .icon-line {
  display: flex;
}
.foot-warp .icon-line li {
  padding: 10px 20px;
}
.foot-warp .foot-text {
  width: 30%;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #fff;
}
.foot-warp .address {
  margin: 20px 0 30px;
}
.foot-warp .address address {
  color: #fff;
}

#linkedin,
#twitter,
#instagram,
#facebook {
  font-size: 4em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5019607843), 10px 1px 12px rgba(0, 0, 0, 0.5019607843), 2px 2px 10px rgba(0, 0, 0, 0.5019607843), 2px 2px 3px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843);
  border-radius: 29px;
  padding: 11px 15px;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
  text-shadow: 0 0 50px #3b93ff, 0 0 100px #3b93ff, 0 0 150px #3b93ff, 0 0 200px #3b93ff;
}

#twitter {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#facebook {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#instagram {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.city-warp {
  margin-bottom: 300px;
}
.city-warp .c-title {
  margin-bottom: 100px;
}
.city-warp .city-bloc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.city-warp .city-bloc .c-card-img {
  width: 340px;
}
.city-warp .city-bloc .c-card-img .city-img {
  position: relative;
}
.city-warp .city-bloc .c-card-img .city-img::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}
.city-warp .city-bloc .c-card-img .city-img img {
  z-index: 0;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city {
  text-align: start;
  width: 280px;
  position: absolute;
  bottom: -200px;
  left: 35px;
  z-index: 2;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city h2 {
  color: #f49f0a;
  font-size: 34px;
}
.city-warp .city-bloc .c-card-img .city-img .c-title--city p {
  margin-bottom: 40px;
  font-size: 16px;
}
.city-warp .city-bloc .c-card--lowmargin {
  margin-top: 40px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-btn {
  width: 196px;
  border: 1px solid #000;
  display: flex;
  background-color: #f49f0a;
  align-items: center;
}
.c-btn a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  width: 90%;
}
.c-btn .icon {
  padding: 15px;
  width: 10%;
  background-color: #e89400;
}
.c-btn--arrow {
  background-color: transparent;
  border: 1px solid #fff;
}
.c-btn--arrow a {
  color: #fff;
}
.c-btn--arrow .icon {
  background-color: transparent;
}

.gallery-warp {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.gallery-warp .c-title--gallery {
  margin-bottom: 100px;
}
.gallery-warp .c-title--gallery h6 {
  margin-bottom: 50px;
}
.gallery-warp .gallery-bloc {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
}
.gallery-warp .gallery-bloc .gallery-card {
  width: 19.6%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.gallery-warp .gallery-bloc .gallery-card .gallery-text {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  display: none;
}
.gallery-warp .gallery-bloc .gallery-card .gallery-text p {
  color: #fff;
}
.gallery-warp .gallery-bloc .gallery-card .gallery-text .city {
  font-size: 24px;
}
.gallery-warp .gallery-bloc .gallery-card:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.gallery-warp .gallery-bloc .gallery-card:hover .gallery-text {
  display: block;
}

.contact {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  background: linear-gradient(to top, rgba(4, 196, 255, 0.2), black);
}
.contact .c-title h2 {
  width: 272px;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 800;
}
.contact .c-title p {
  width: 335px;
  font-size: 18px;
  font-weight: 700;
}
.contact .circle {
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contact .circle__phone {
  border: 1px solid #fff;
  line-height: 1.5;
  padding: 49px 67px 49px 47px;
  border-radius: 100%;
  width: 164px;
}
.contact .circle__phone .title {
  font-size: 34px;
  font-weight: 800;
}
.contact .circle__phone .phone {
  font-size: 24px;
  font-weight: 300;
}
.contact .circle__phone .text {
  font-size: 16px;
  font-weight: 400;
}
.contact .circle__mail {
  border: 1px solid #fff;
  line-height: 1.5;
  padding: 69px 49px;
  border-radius: 100%;
}
.contact .circle__mail p {
  width: 180px;
  font-size: 34px;
  font-weight: 800;
}

.blog-warp {
  width: 100%;
  margin-bottom: 200px;
}
.blog-warp .c-title--blog {
  margin-bottom: 100px;
}
.blog-warp .c-title--blog h4 {
  margin-bottom: 50px;
}
.blog-warp .blog-bloc {
  width: 100%;
  display: flex;
  position: relative;
  z-index: -1;
}
.blog-warp .blog-bloc::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}
.blog-warp .blog-bloc p {
  font-family: "Mulish", sans-serif;
}
.blog-warp .blog-bloc .blog-card1 {
  width: 25%;
  height: 360px;
  background-image: url(../../../img/blog1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card2 {
  width: 25%;
  height: 360px;
  background-image: url(../../../img/blog2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card3 {
  width: 25%;
  height: 360px;
  background-image: url(../../../img/blog3.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc .blog-card4 {
  width: 25%;
  height: 360px;
  background-image: url(../../../img/blog4.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.blog-warp .blog-bloc p {
  color: #fff;
  width: 280px;
  bottom: 0;
  position: absolute;
  left: 20px;
  font-size: 18;
  z-index: 2;
}

.journals-warp {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.journals-warp .c-title--journals {
  margin-bottom: 50px;
}
.journals-warp .c-title--journals h5 {
  font-size: 42px;
  margin-bottom: 30px;
}
.journals-warp .c-title--journals p {
  font-size: 16px;
  width: 500px;
  margin: 0 auto;
}
.journals-warp .journals-bloc {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.journals-warp .journals-bloc .journals-card {
  margin-bottom: 30px;
}
.journals-warp .journals-bloc .journals-card img {
  width: 100%;
}
.journals-warp .journals-bloc .journals-card .card-inner {
  background-color: #1F242E;
  padding: 30px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text {
  display: flex;
  padding: 15px 0;
  align-items: center;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text p {
  color: #fff;
  padding-left: 10px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-text img {
  width: 28px;
}
.journals-warp .journals-bloc .journals-card .card-inner .txt {
  margin-bottom: 15px;
  color: #fff;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date p {
  color: rgb(200, 200, 200);
  font-size: 14px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date a {
  text-decoration: none;
  color: #fff;
  width: 24px;
}
.journals-warp .journals-bloc .journals-card .card-inner .card-date a img {
  width: 100%;
}

.page-logo {
  overflow: hidden;
  height: 70vh;
  -webkit-mask-image: url("../../../img/raido.png");
          mask-image: url("../../../img/raido.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 60%;
  margin: 0 auto;
}
.page-logo #background-video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=style.css.map */