.c-btn{
    width: 166px;
    border: 1px solid #fff;
    padding: 15px;
    display: flex;
    a{
        text-decoration: none;
        color: #fff;
    }
   .icon{
        color: #fff;
        margin-left: 60px;
   }
}